.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

